{% extends "base.html" %}
{% load static %}
{% load templatetags %}

{% block javascript %}
    <script src="{% static "js/favorites.js" %}" defer></script>
    <script src="{% static "js/message_box.js" %}" defer></script>
{% endblock %}

{% block title %}Company List{% endblock %}

{% block content %}
    <script>
        let is_authenticated = {{ request.user.is_authenticated|yesno:"true,false" }};
    </script>
    <form id="csrf-token">
        {#    Used for javascript   #}
        {% csrf_token %}
    </form>

    <div class="main-box">

        <div class="values-box">
            <form class="search-form-box" method="GET">
                <button class="form-btn" type="submit">
                    <i class="material-icons search-icon">search</i>
                    <span>Search</span>
                </button>
                {{ form }}
            </form>
        </div>

        <div class="company-list-box">
            <table class="list-table">
                <tr>
                    <th>
                        <div class="table-head-box">
                            <span>Name </span>
                            <div class="sort-arrows-box">
                                <a href="{{ request.path }}?page={{ request.GET.page }}{{ url_part }}&sort_by=name">
                                    <i class="material-icons sort-icon">arrow_drop_up</i>
                                </a>
                                <a href="{{ request.path }}?page={{ request.GET.page }}{{ url_part }}&sort_by=-name">
                                    <i class="material-icons sort-icon">arrow_drop_down</i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="table-head-box">
                            <span>Symbol</span>
                            <div class="sort-arrows-box">
                                <a href="{{ request.path }}?page={{ request.GET.page }}{{ url_part }}&sort_by=symbol">
                                    <i class="material-icons sort-icon">arrow_drop_up</i>
                                </a>
                                <a href="{{ request.path }}?page={{ request.GET.page }}{{ url_part }}&sort_by=-symbol">
                                    <i class="material-icons sort-icon">arrow_drop_down</i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="table-head-box">
                            <span>Exchange</span>
                            <div class="sort-arrows-box">
                                <a href="{{ request.path }}?page={{ request.GET.page }}{{ url_part }}&sort_by=exchange">
                                    <i class="material-icons sort-icon">arrow_drop_up</i>
                                </a>
                                <a href="{{ request.path }}?page={{ request.GET.page }}{{ url_part }}&sort_by=-exchange">
                                    <i class="material-icons sort-icon">arrow_drop_down</i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="table-head-box">
                            <span>Country</span>
                            <div class="sort-arrows-box">
                                <a href="{{ request.path }}?page={{ request.GET.page }}{{ url_part }}&sort_by=country">
                                    <i class="material-icons sort-icon">arrow_drop_up</i>
                                </a>
                                <a href="{{ request.path }}?page={{ request.GET.page }}{{ url_part }}&sort_by=-country">
                                    <i class="material-icons sort-icon">arrow_drop_down</i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="table-head-box">
                            <span>Sector</span>
                            <div class="sort-arrows-box">
                                <a href="{{ request.path }}?page={{ request.GET.page }}{{ url_part }}&sort_by=sector">
                                    <i class="material-icons sort-icon">arrow_drop_up</i>
                                </a>
                                <a href="{{ request.path }}?page={{ request.GET.page }}{{ url_part }}&sort_by=-sector">
                                    <i class="material-icons sort-icon">arrow_drop_down</i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="table-head-box">
                            <span>Market cap (millions USD)</span>
                            <div class="sort-arrows-box">
                                <a href="{{ request.path }}?page={{ request.GET.page }}{{ url_part }}&sort_by=-market_cap">
                                    <i class="material-icons sort-icon">arrow_drop_up</i>
                                </a>
                                <a href="{{ request.path }}?page={{ request.GET.page }}{{ url_part }}&sort_by=market_cap">
                                    <i class="material-icons sort-icon">arrow_drop_down</i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th></th>
                </tr>
                {% for company in page_obj %}
                    <tr>
                        <td>
                            <a class="company-details-link" href="{% url "company_details" company.pk %}">{{ company.name }}</a>
                        </td>
                        <td>{{ company.symbol }}</td>
                        <td>{{ company.exchange.symbol }}</td>
                        <td>{{ company.country }}</td>
                        <td>{{ company.sector.name }}</td>
                        <td>{{ company.market_cap|style_numeric_data }}</td>
                        <td>
                            <i class="material-icons favorite-icon message-trigger" data-company-id="{{ company.pk }}"
                            data-message-type="favorites">
                                {% if company in favorites %}
                                    bookmark
                                {% else %}
                                    bookmark_border
                                {% endif %}
                            </i>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="no-search-results-info" colspan="7">
                            There are no companies matching your filters!
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <div class="pagination">
                <div class="step_links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page=1{{ url_part }}&sort_by={{ request.GET.sort_by }}">
                            &laquo; first
                        </a>
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}{{ url_part }}&sort_by={{ request.GET.sort_by }}">
                            previous
                        </a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}{{ url_part }}&sort_by={{ request.GET.sort_by }}">
                            next
                        </a>
                        <a href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}{{ url_part }}&sort_by={{ request.GET.sort_by }}">
                            last &raquo;
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}