{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="register-form-box">
        <form method="POST" class="register-form">
            {% csrf_token %}
            <label>
                Username:
                <input name="username">
            </label>
            <label>
                Password:
                <input type="password" name="password">
            </label>
            <button class="register-btn" type="submit">Login</button>
        </form>
    </div>
{% endblock %}