* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.content-block {
    font-size: 30px;
    background-color: #ffffff;
}

.nav-bar {
    font-size: 25px;
    background-color: #6f94c6;
    padding: 20px;
}

footer {
    background-color: #6f94c6;
    padding: 50px;
}

.footer-box {
    background-color: #81d4fa;
    padding: 50px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
    border-left: 1px solid #D2D4D9;
}

/* ---------------------------------------------------------------- Home Page: */
.grid-box {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px 150px;
}

.grid-item {
    padding: 20px;
    text-align: start;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    border-radius: 5px;
}

.home-price-box {
    display: grid;
    grid-template-columns: auto auto;
    color: #a41515;
}

/* ---------------------------------------------------------------- Company Details: */
.btn-box {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.tab-btn {
    padding: 20px 0;
    border: none;
    text-transform: capitalize;
    font-size: 20px;
    display: block;
}

.tab-btn.active {
    background: #ffffff;
}

.details {
    display: none;
}

.details.active {
    display: block;
}