* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.content-block {
    font-size: 30px;
    background-color: #ffffff;
    padding: 0 100px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 3px solid #4ac1f7;
    background-color: #333333;
}

.logo {
    color: #81d4fa;
    font-size: 40px;
}

.nav-links {
    list-style: none;
    font-size: 25px;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
    border-left: 1px solid #D2D4D9;
}

.nav-links li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
}

footer {
    background-color: #333333;
    padding: 50px;
}

.footer-box {
    background-color: #81d4fa;
    padding: 50px;
    border: 3px solid #4ac1f7;
    border-radius: 15px;
}

/* ---------------------------------------------- Home Page: */
.grid-box {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px 150px;
}

.grid-item {
    padding: 20px;
    text-align: start;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    border-radius: 5px;
}

.company-link {
    text-decoration: underline;
    color: #333333;
    font-style: italic;
}

.home-price-box {
    display: grid;
    grid-template-columns: auto auto;
    color: #a41515;
}

/* ---------------------------------------------- Company List: */
.company-list {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;

}

.company-list tr:hover {
    background: #81d4fa;
}

.company-list tr th,
.company-list tr td {
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #333333;
}

.company-list tr th {
    font-size: 22px;
}

.company-list a {
    text-decoration: none;
    color: #333333;
}

.pagination {
    text-align: center;
    padding: 25px 0;
}

/* ---------------------------------------------- Company Details: */
.details-section {
    padding: 0 10px;
    background: #dddddd;
}

.company-label {
    padding: 10px 50px;
}

.btn-box {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.tab-btn {
    padding: 20px 0;
    border: none;
    text-transform: capitalize;
    font-size: 20px;
    display: block;
    background: #dddddd;
}

.tab-btn.active {
    background: #ffffff;
}

.details {
    display: none;
    padding: 20px;
}

.details.active {
    display: block;
    background: #ffffff;
}

.value-disclaimer {
    font-size: 18px;
    text-align: right;
    padding: 5px;
}

.chart-container {
    max-width: 1000px;
    overflow-x: scroll;
}

.chart-body {
    height: 400px;
}

.financial-statement table {
    font-size: 20px;
    border-collapse: collapse;
    width: 100%;
}

.financial-statement table tr:first-child {
    background: #dddddd;
    font-weight: bold;
}

.financial-statement tr td,
.financial-statement tr th {
    border-bottom: 1px solid black;
    padding: 5px;
}

.financial-statement td {
    text-align: center;
}

.financial-statement th {
    font-style: italic;
    text-align: left;
    padding: 0 10px;
}
