:root {
    --grey_1: #dddddd;
    --grey_2: #cccccc;
    --grey_3: #aaaaaa;
    --grey_4: #333333;
    --main_1: #D3E3EB;
    --main_2: #5F8CD6;
    --main_3: #FA811E;
    --main_4: #3875d7;
    --green: forestgreen;
    --red: #ba2121;
    --yellow: #EFD16D;
}

/* ---------------------------------------------- Base HTML: */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    background-color: white;
    padding: 0 50px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 3px solid var(--main_3);
    background-color: var(--grey_4);
}

.logo {
    color: var(--main_3);
    font-size: 40px;
    margin-left: 25px;
}

.nav-links {
    list-style: none;
    font-size: 25px;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li:hover {
    transform: scale(1.2);
    transition: all 0.3s ease 0s;
}

.nav-links li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
}

footer {
    background-color: var(--grey_4);
    padding: 50px;
}

.footer-box {
    background-color: var(--main_1);
    padding: 50px;
    border: 3px solid var(--main_3);
    border-radius: 15px;
}

.message-div {
    position: fixed;
    z-index: 99;
    font-size: 25px;
    text-align: center;
    padding: 18px;
    width: 30%;
    background-color: var(--grey_1);
    border: 2px solid var(--grey_4);
    border-radius: 10px;
    transition: all 0.5s ease 0s;
}

/* ---------------------------------------------- Home Page: */

.grid-box {
    background: var(--grey_3);
    border: 3px solid var(--grey_1);
    padding: 40px 100px;
}

.grid-item-box {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    margin-right: 30px;
}

.grid-item {
    padding: 20px;
    text-align: start;
    background-color: white;
    border: 2px solid var(--grey_1);
    border-radius: 5px;
}

.company-link {
    text-decoration: none;
    color: var(--grey_4);
    font-style: italic;
    transition: all 0.5s ease 0s;
}

.company-link:hover {
    font-size: 40px;
    text-decoration: underline;
}

.home-price-box {
    display: grid;
    grid-template-columns: 45% auto;
}

.positive-change {
    color: var(--green);
}

.negative-change {
    color: var(--red);
}

/* ---------------------------------------------- Company List: */

.search-form-box {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.search-form-box button {
    border-radius: 10px;
    background-color: var(--main_1);
    color: var(--grey_4);
    font-weight: bold;
}

.search-form-box label {
    font-weight: bold;
    padding: 5px 0;
}

.search-form-box div label {
    font-weight: normal;
}

.search-form input {
    width: 40%;
    height: 20px;
    border: none;
    border-bottom: 2px solid var(--grey_3);
    border-radius: 3px;
    font-weight: bold;
    margin: 8px 30%;
    text-align: center;
}


.table-head-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.sort-arrows-box {
    display: flex;
    flex-direction: column;
    line-height: 0;
    padding: 0 10px;
}

.sort-arrows-box a:first-child i {
    margin-bottom: -5px;
}

.sort-icon {
    font-weight: bolder;
    font-size: 30px;
    color: var(--main_4);
}

.sort-icon:hover {
    transform: scale(1.5);
    transition: all 0.2s ease 0s;
}

.no-search-results-info {
    color: red;
}

.company-list-box {
    background-color: white;
}

.list-table {
    border-collapse: collapse;
    margin: 20px;
    width: 96%;
}

.list-table tr {
    height: 50px;
}

.list-table tr:hover {
    background: var(--main_1);
}

.list-table tr th,
.list-table tr td {
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid var(--grey_4);
    /*white-space: nowrap;*/
}

.list-table a {
    text-decoration: none;
    color: var(--grey_4);
}

.company-details-link:hover {
    text-decoration: underline;
}

.favorite-icon {
    color: var(--main_4);
    font-size: 28px;
    cursor: pointer;
}

.pagination {
    text-align: center;
    padding: 25px 0;
}

.step_links {
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 1;
    font-size: 30px;
}

.step_links a {
    padding: 10px;
    text-decoration: none;
    color: var(--main_3);
}

.current {
    margin-top: 10px;
    padding: 0 15px;
    color: var(--grey_4);
}

/* ---------------------------------------------- Company Details: */

.details-section {
    padding: 0 10px;
    background: var(--grey_1);
}

.company-label {
    padding: 10px 50px;
}

.btn-box {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.tab-btn {
    padding: 20px 0;
    border: none;
    text-transform: capitalize;
    font-size: 20px;
    display: block;
    background: var(--grey_1);
}

.tab-btn.active {
    background: white;
}

.details {
    display: none;
    padding: 20px;
}

.details.active {
    display: block;
    background: white;
}

.value-disclaimer {
    font-size: 18px;
    text-align: right;
    padding: 5px;
}

.chart-container {
    max-width: 1000px;
    overflow-x: scroll;
}

.chart-body {
    height: 400px;
}

.financial-statement table {
    font-size: 20px;
    border-collapse: collapse;
    width: 100%;
}

.financial-statement table tr:first-child {
    background: var(--grey_1);
    font-weight: bold;
}

.financial-statement tr td,
.financial-statement tr th {
    border-bottom: 1px solid black;
    padding: 5px;
}

.financial-statement td {
    text-align: center;
}

.financial-statement th {
    font-style: italic;
    text-align: left;
    padding: 0 10px;
}

/* ---------------------------------------------- Evaluation View: */

.main-box {
    display: grid;
    grid-template-columns: 15% 85%;
    gap: 20px;
    background-color: var(--grey_2);
    padding: 20px 40px 20px 20px;
    border-radius: 5px;
    border: 3px solid var(--grey_3);
}

.values-box {
    border: 1px solid var(--grey_3);
    padding: 10px;
}

.values-form {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.form-itself {
    padding-top: 10px;
}

.form-itself p {
    text-align: center;
    font-size: 18px;
}

.form-itself input {
    display: block;
    width: 40%;
    height: 20px;
    border: none;
    border-bottom: 2px solid var(--grey_3);
    border-radius: 3px;
    font-weight: bold;
    margin: 8px 30%;
    text-align: center;
}

.form-itself input:focus {
    outline: none;
    border-bottom: 2px solid green;
    color: green;
}

.calculate-btn {
    border: none;
    text-transform: capitalize;
    font-size: 16px;
}

.evaluation-box {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.evaluation-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.evaluation-tabs button {
    width: 50%;
}

.content {
    display: none;
    padding: 0 20px 20px;
}

.content.active {
    display: flex;
    flex-direction: column;
    background: white;
}

.projection-label {
    align-self: center;
    font-weight: bold;
    padding-top: 30px;
    text-decoration: underline;
}

.main-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 5px;
}

.main-table tr {
    height: 50px;
}

.main-table tr:hover {
    background: var(--main_1);
}

.main-table tr th,
.main-table tr td {
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid var(--grey_4);
    white-space: nowrap;
}

.main-table a {
    text-decoration: none;
    color: var(--grey_4);
}

.content .main-table tr td,
.content .main-table tr th {
    font-size: 16px;
}

.main-table tr:first-child {
    font-weight: bold;
}

.projection-data {
    background-color: var(--main_1);
}

.turnover-ratios-box {
    display: grid;
    grid-template-columns: auto auto;
}

.share-value-table tr:last-child th,
.share-value-table tr:last-child td {
    font-size: 20px;
    background-color: var(--yellow);
    font-weight: bold;
}

/* ---------------------------------------------- Register View: */

.register-form-box {
    margin: 10px 35%;
    background: var(--grey_3);
    border: 3px solid var(--grey_2);
    border-radius: 10px;
    padding: 20px 0;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.register-btn {
    font-size: 20px;
    padding: 5px;
}
