{% extends "base.html" %}
{% load static %}

{% block javascript %}
    <script src="{% static "js/favorites.js" %}" defer></script>
{% endblock %}

{% block title %}Company List{% endblock %}

{% block content %}
    <form class="search-form" id="csrf-token">
        {% csrf_token %}
        {{ form }}
        <button type="submit">
            <i class="material-icons">search</i>
        </button>
    </form>


    {% load style_numeric_data %}
    <table class="company-list">
        <tr>
            <th>
                <div class="table-head-box">
                    <span>Name</span>
                    <div class="sort-arrows-box">
                        <a href="?sort_by=name">
                            <i class="material-icons sort-icon">arrow_drop_up</i>
                        </a>
                        <a href="?sort_by=-name">
                                <i class="material-icons sort-icon">arrow_drop_down</i>
                        </a>
                    </div>
                </div>
            </th>
            <th>
                <div class="table-head-box">
                    <span>Symbol</span>
                    <div class="sort-arrows-box">
                        <a href="/companies/?sort_by=symbol">
                            <i class="material-icons sort-icon">arrow_drop_up</i>
                        </a>
                        <a href="/companies/?sort_by=-symbol">
                                <i class="material-icons sort-icon">arrow_drop_down</i>
                        </a>
                    </div>
                </div>
            </th>
            <th>
                <div class="table-head-box">
                    <span>Exchange</span>
                    <div class="sort-arrows-box">
                        <a href="/companies/?sort_by=exchange">
                            <i class="material-icons sort-icon">arrow_drop_up</i>
                        </a>
                        <a href="/companies/?sort_by=-exchange">
                                <i class="material-icons sort-icon">arrow_drop_down</i>
                        </a>
                    </div>
                </div>
            </th>
            <th>
                <div class="table-head-box">
                    <span>Country</span>
                    <div class="sort-arrows-box">
                        <a href="/companies/?sort_by=country">
                            <i class="material-icons sort-icon">arrow_drop_up</i>
                        </a>
                        <a href="/companies/?sort_by=-country">
                                <i class="material-icons sort-icon">arrow_drop_down</i>
                        </a>
                    </div>
                </div>
            </th>
            <th>
                <div class="table-head-box">
                    <span>Sector</span>
                    <div class="sort-arrows-box">
                        <a href="/companies/?sort_by=sector">
                            <i class="material-icons sort-icon">arrow_drop_up</i>
                        </a>
                        <a href="/companies/?sort_by=-sector">
                                <i class="material-icons sort-icon">arrow_drop_down</i>
                        </a>
                    </div>
                </div>
            </th>
            <th>
                <div class="table-head-box">
                    <span>Market cap (millions USD)</span>
                    <div class="sort-arrows-box">
                        <a href="/companies/?sort_by=-market_cap">
                            <i class="material-icons sort-icon">arrow_drop_up</i>
                        </a>
                        <a href="/companies/?sort_by=market_cap">
                                <i class="material-icons sort-icon">arrow_drop_down</i>
                        </a>
                    </div>
                </div>
            </th>
            <th></th>
        </tr>
        {% for company in page_obj %}
            <tr>
                <td>
                    <a class="company-details-link" href="{% url "company_details" company.pk %}">{{ company.name }}</a>
                </td>
                <td>{{ company.symbol }}</td>
                <td>{{ company.exchange.symbol }}</td>
                <td>{{ company.country }}</td>
                <td>{{ company.sector.name }}</td>
                <td>{{ company.market_cap|style_numeric_data }}</td>
                <td><i class="material-icons favorite-icon" data-company-id="{{ company.pk }}"
                >favorite_border</i></td>
            </tr>
        {% empty %}
            <tr>
                <td class="no-search-results-info" colspan="7">
                    There are no companies matching your filters!
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="step_links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}