{% extends "base.html" %}
{% load static %}
{% load templatetags %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <article class="grid-box">
        {% for company in companies %}
            <div class="grid-item">
                <h3>
                    <a class="company-link" href="{% url "company_details" company.pk %}">{{ company.symbol }}</a>
                    ({{ company.country }})</h3>
                <p>{{ company.name }}</p>
                <p><i>{{ company.exchange.symbol.upper }}</i></p>
                <p>Market Cap: ${{ company.market_cap|style_numeric_data }} M</p>
                <div class="home-price-box">
                    <p>Price</p>
                    <p>Change</p>
                </div>
            </div>
        {% endfor %}
    </article>
{% endblock %}
