{% extends "base.html" %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <article class="grid-box">
        {% for tuple in company_tuples %}
            <div class="grid-item">
                <h3>
                    <a href="{% url "company_details" tuple.0.pk %}">{{ tuple.0.symbol }} </a>
                    ({{ tuple.0.country }})</h3>
                <p>{{ tuple.0.name }}</p>
                <p><i>{{ tuple.0.exchange.symbol.upper }}</i></p>
                <p>Market Cap: {{ tuple.1 }}</p>
                <div class="home-price-box">
                    <p>Price</p>
                    <p>Change</p>
                </div>
            </div>
        {% endfor %}
    </article>
{% endblock %}
