{% extends "base.html" %}
{% load static %}
{% load templatetags %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <article class="grid-box">
        <div class="grid-item-box">
            {% for company in companies %}
                <div class="grid-item">
                    <h3>
                        <a class="company-link" href="{% url "company_details" company.0.pk %}">{{ company.0.symbol }}</a>
                        ({{ company.0.country }})</h3>
                    <p>{{ company.0.name }}</p>
                    <p><i>{{ company.0.exchange.symbol.upper }}</i></p>
                    <p>Market Cap: ${{ company.0.market_cap|style_numeric_data }} M</p>
                    <div class="home-price-box">
                        <p>price: {{ company.1.current_value }}</p>
                        {% if company.1.change > 0 %}
                            <p class="positive-change">+{{ company.1.change }}</p>
                        {% else %}
                            <p class="negative-change">{{ company.1.change }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </article>
{% endblock %}
